<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaves</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <style>

        body{
            background-color: #356974;
            font-family: 'Century Gothic',serif

        }
.nav-item{
            margin-left: 20px;
            width: 145px;
            text-align: center;
            font-size: 20px;
        }
        #orchid_main{
            position: absolute;
            top: 12%;
            left: 50%;
        }
        #name{
            font-size: 28px;
        }
    </style>
</head>
<body>
<th:block th:replace="fragments/header"></th:block>

<br><br>
<h2 id="leaves" class="text-center" style="color: white">Примероци на здрави листови на Phalaenopsis</h2>
<p class="text-center" style="color: white;">Кога листовите на Phalaenopsis се здрави, тие се сјајни и мазни, со светло зелена боја.</p>
<div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">

            <img src="images/leaves_3.jpg" height="800" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="images/leaves_2.jpg" height="800" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="images/leaves_1.jpg" height="800" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br><br><br><br><br>
<h2 class="text-center" style="color: white">Примероци на листови на кои им недостасува вода</h2>
<p class="text-center" style="color: white;">Кога на листовите им недостасува вода, тие се збрчкуваат.</p>
<div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">

            <img src="images/wrinkled_leaves3.png" height="800" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="images/wrinkled_leaves1.png" height="800" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="images/wrinkled_leaves2.jpg" height="800" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br><br>

<h2 class="text-center" style="color: white">Примероци на листови кои биле изложени прекумерно на сонце</h2>
<p class="text-center" style="color: white;">Кога листовите се изложени прекумерно на сонце, тие можат да станат црвени и да изгорат.</p>
<p class="text-center" style="color: white;">За да се спречи ова, не ја оставајте орхидејата на силна сончева светлина и тргнете ја на сенка.</p>
<div id="carouselExampleIndicators3" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images/red_leaves3.jpg" height="800" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="images/red_leaves1.jpg" height="800" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="images/red_leaves2.jpg" height="800" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>






<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
</body>
</html>