<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Воздушни корења</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <style>

        body{
            background-color: #356974;
            font-family: 'Century Gothic',serif

        }
.nav-item{
            margin-left: 20px;
            width: 145px;
            text-align: center;
            font-size: 20px;
        }
        #name{
            font-size: 28px;
        }
    </style>
</head>
<body>
<th:block th:replace="fragments/header"></th:block>

<div class="container my-5">
    <h1 style="color: white;">
        Воздушни корења се корења на вашата орхидеја кои растат нагоре и се бело-сиви по боја.<br>
        Овие корења не треба да ги наводнувате бидејќи тие се користат за впивање на нутриенти од воздухот.<br>
        Доколку воздушните корења се цврсти и бели, тие се здрави.<br>
        Доколку станат жолтеникави и меки, почекајте орхидејата да прецвета и потоа со стерилни ножици исечете ги.
    </h1>
</div>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
</body>
</html>